<!DOCTYPE html>
<html>
<head>
    <title>Fazer Pedido</title>
</head>
<body>
    <h1>Fazer Pedido</h1>
    <a asp-action="Index" asp-controller="Home">Voltar a Pagina Principal</a>
    <br/>
    <a asp-action="Index" asp-controller="Carrinho">Ver Carrinho</a>
</body>
</html>