<!DOCTYPE html>
<html>
<head>
    <title>Minha Hamburgueria - Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à BielzãoBurgers</h1>
    <p>A Hamburgueria que Criptografa a sua Fome</p>
    <p>Escolha uma das opções abaixo:</p>
    <ul>
        <li><a asp-action="Index" asp-controller="Menu">Menu</a></li>
        <li><a asp-action="Index" asp-controller="Pedido">Fazer um Pedido</a></li>
        <li><a asp-action="Index" asp-controller="Carrinho">Ver Carrinho</a></li>
    </ul>
</body>
</html>