<!DOCTYPE html>
<html>
<head>
    <title>Direitos Reservados ao Gabriel Mendes Cirillo</title>
</head>
<body>
    <h1>Lanche ? É Comigo mesmo !</h1>
    <p>Todos os Direitos Reservados ao Aluno Gabriel Mendes Cirillo</p>
    <p>RM 98214</p>
</body>
</html>