<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Menu da Hamburgueria</h1>
    <h4>Temos varias maneiras de fazer sua fome não bugar o seu dia</h4>
    <p>X toString - Pão, Alface, Tomate, Cebola, Queijo e o nosso Hamburguer de 150g</p>
    <p>X Getter and Setter - Pão, Salsicha, Tomate, Mussarela de Bufalo e o nosso Hamburguer de 200g</p>
    <p>X Variavel - Pão Australiano, Tomate, Chedder e o nosso Hamburguer Especial de 150g</p>
    <p>X BigData - Pão Extra Grande, Tomate, Chedder, Queijo, Mussarela de Bufalo, Salsicha de Miami e o nosso Supremo Hamburguer de 500g</p>
    <a asp-action="Index" asp-controller="Pedido">Fazer um Pedido</a>
    <br />
    <a asp-action="Index" asp-controller="Carrinho">Ver Carrinho</a>
</body>
</html>